@font-face {
    font-family: 'paint';
    src: url('./fonts/Paint-hand_limited-set.ttf') format('truetype');
}
@font-face {
    font-family: 'louis';
    src: url('./fonts/Louis\ George\ Cafe.ttf') format('truetype');
}

/* Commun ----------------------------------------------------------------------------------------------------------------------- Commun */
body {
    min-height: 75vh;
    background-image: url('./images/ekaterina-novitskaya-gLroHoWh_as-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: rgb(198, 198, 198);
    font-family: 'louis';
    font-size: clamp(12px, 4vw, 22px);
    text-shadow: 1px 1px 0px black;
}
.return_index {
    width: clamp(17px, 2vw, 20px);
    padding-top: clamp(5px, 2vw, 35px);
    padding-left: clamp(5px, 2vw, 35px);
}
strong {
    font-size: clamp(27px, 4.5vw, 37px);
    font-family: 'paint';
}
.bold {
    font-weight: 900;
}
a {
    color:rgb(210, 209, 209);
    text-decoration: none;
}
a:hover {
    text-decoration: line-through 2px white;
}

/* Page principale, index -------------------------------------------------------------------------------------------------------- Index */
.index {
    margin: clamp(8%, 5vw, 25%) clamp(6%, 5vw, 15%) clamp(3%, 5vw, 5%) clamp(6%, 5vw, 15%);
    color: rgb(178, 178, 178);
    position: relative;
}
ol {
    list-style-type: none;
    font-size: clamp(15px, 3vw, 22px);
}
ol li {
    margin-bottom: 20px;
    text-align: right;
}
ol a:hover {
    text-shadow: 5px 5px rgb(255, 255, 255);
    color: rgba(210, 209, 209, 0);
    text-decoration: none;
}
#text-bottom {
    position: absolute;
    bottom: 0;
    min-height: clamp(25%, 60%, 70%);
}  
h1 {
    font-family: 'paint';
    font-size: clamp(37px, 8vw, 67px);
}
h2 {
    font-size: clamp(10px, 3vw, 20px);
    padding-top: 15px;
}
h2 a:hover {
    text-decoration: none;
    color: rgba(210, 209, 209, 0);
    text-shadow: 20px 0px white;
}

/* Pages secondaires --------------------------------------------------------------------------------------------------- Pages secondaires */
.projects {
    text-align: right;
    margin: clamp(350px, 5vw, 10px) 10% auto 10%;
}
.about {
    margin: clamp(2%, 2vw, 5%) clamp(10%, 20%, 25%) auto clamp(10%, 20%, 25%);
    line-height: 1.7em;
}
.question {
    text-align: right;
}
.contact {
    margin-top: 600px;
    display: flex;
    justify-content: space-around; 
}
.why {
    margin: 0px clamp(10%, 20vw, 18%) clamp(20px, 5vh, 50px) clamp(10%, 20vw, 18%);
    line-height: 1.45em;
}
.why li {
    margin-bottom: 7px;
    margin-left: clamp(10px, 3vh, 20px);
}