@font-face {
    font-family: 'paint';
    src: url('./fonts/Paint-hand_limited-set.ttf') format('truetype');
}
@font-face {
    font-family: 'louis';
    src: url('./fonts/Louis\ George\ Cafe.ttf') format('truetype');
}

body {
    height: 100%;
    background-image: url('./images/ekaterina-novitskaya-gLroHoWh_as-unsplash.jpg');
    color: rgb(210, 209, 209);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    font-family: 'louis';
    font-size: 1.3em;
}
a {
    color:rgb(210, 209, 209);
    text-decoration: none;
}
a:hover {
    text-decoration: line-through 2px white;
}
.projects {
    text-align: right;
    margin-top: 400px;
    margin-right: 10%;
}
strong {
    font-size: 1.6em;
    font-family: 'paint';
}
.about {
    margin-top: 10%;
    margin-right: 25%;
    margin-left: 25%;
    line-height: 1.5em;
}
.question {
    margin-right: 25%;
    margin-left: 25%;
    text-align: right;
}
.contact {
    margin-top: 600px;
   display: flex;
   justify-content: space-around; 
}

@media only screen and (max-width: 500px) {
    
}